@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* use only the available space inside the 400x400 frame */
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 20px;
	box-shadow: 4px 8px 16px 0 rgba(243, 62, 62, 0.267);
	overflow: hidden;
	background: rgba(206, 10, 135, 1);
	background: radial-gradient(
		at right center,
		rgba(206, 10, 135, 1),
		rgba(18, 77, 118, 1)
	);
	color: #fff;
	font-family: "Pacifico", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hundred {
	position: relative;
	height: 100px;
	width: 200px;
}
.hundred .one-top {
	position: absolute;
	z-index: 1;
	top: 0;
	left: -16px;
	height: 40px;
	width: 20px;
	background: yellow;
	border-radius: 5px;
	transform: rotate(50deg);
	box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.hundred .one-bottom {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0px;
	height: 100px;
	width: 24px;
	background: yellow;
	border-radius: 5px;
	box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.hundred .zero-one,
.hundred .zero-two {
	position: absolute;
	z-index: 8;
	top: 0;
	left: 14px;
	width: 50px;
	height: 50px;
	/* box-sizing: border-box; */
	background-color: transparent;
	border-radius: 50%;
	border: 24px solid yellow;
	box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.6);
}
.hundred .zero-two {
	z-index: 6;
	left: 95px;
}
.text {
	display: block;
	text-transform: uppercase;
	z-index: 20;
	position: relative;
	font-weight: 700;
}
.days {
	font-size: 3.6rem;
	line-height: 5rem;
	letter-spacing: 2px;
	margin-top: 6px;
}
.other {
	font-size: 1.4rem;
	line-height: 2.5rem;
	color: yellow;
	font-family: cursive;
}
.center span {
	background: linear-gradient(#fff, #fff);
	background-repeat: no-repeat;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 0%;
	animation: textcolor1 2s linear infinite alternate;
}
@keyframes textcolor1 {
	0% {
		background-size: 0%;
	}
	40% {
		background-size: 100%;
	}
	100% {
		background-size: 100%;
	}
}
